#cv{
background-color:purple;
height:800px;
width:100%;
}

.lbar{
background-color:RGB(2,20,40);
height:800px;
width:28%;
float:left;
color:white;
}
h2{
color:white;
background-color:orange;
padding-left:30px;
}
p{
padding-left:35px;
}

form{
padding-left:35px;
padding-bottom:8px;
}
li{
padding-bottom:8px;
}
input{
padding-bottom:8px;
}



.rbar{
background-color:white;
height:800px;
width:72%;
float:right;
}

img{
height:170px;
width:250px;
float:top;
}


.headings{
padding-left:30px;


}

.title{
color:orange;
background-color:RGB(2,20,40);
padding-left:30px;

}
